.user {
  font-size: 1.5em;
  border: 0.2em solid var(--color-theme);
  color: var(--color-theme);
  filter: invert(100%);
  border-right-width: 2.4em;
  padding: 0.5em 1em 0.5em 1em;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  z-index: 3;
}

.user:after {
  content: "";
  width: 55px;
  height: 35px;
  display: inline-block;
  mask: url(../../images/arrow.svg) no-repeat 50% 50%;
  mask-size: cover;
  background-color: var(--color-theme);
  filter: invert(100%);
  position: absolute;
  left: 100%;
  top: 15px;
}
