.title {
  font-size: 5em;
  margin: 0.5em 0 2em;
  padding-bottom: 0.5em;
  color: var(--color-mint-green);
  position: relative;
}

.title:after,
.title:before {
  content: "";
  display: inline-block;
  width: 0.3em;
  height: 100vh;
  background-color: var(--color-mint-green);
  position: absolute;
  left: 50%;
  top: 100%;
  z-index: -2;
}

.title:before {
  width: 0.3em;
  height: 0.3em;
  background-color: var(--color-light-grey);
  left: 50%;
  top: calc(100% - 10px);
  z-index: -1;
  transform: rotate(45deg);
}
