/* Mobile first layouts. 
   nth-child used due to prototype.
*/

/* Layout 1 */
.layout-1 :nth-child(2) {
  margin-top: -0.75em;
}

.layout-1 :nth-child(3) {
  top: -0.5em;
}

/* Layout 2 */
.layout-2 {
  flex-direction: column-reverse;
}

.layout-2 :nth-child(1) {
  margin-top: -0.75em;
}

.layout-2 :nth-child(3) {
  left: -5vw;
  bottom: -0.5em;
}

@media only screen and (min-width: 600px) {
  .layout-2 :nth-child(3) {
    left: 20vw;
  }
}

/* Layout 3 */
.layout-3 :nth-child(1) {
  width: 80vw;
  margin-right: -10vw;
  margin-bottom: -15px;
}

.layout-3 :nth-child(3) {
  top: -0.5em;
  margin-right: 0;
}

@media only screen and (min-width: 600px) {
  .layout-3 :nth-child(1) {
    width: 40vw;
    margin-right: -50vw;
  }

  .layout-3 :nth-child(3) {
    margin-right: -50vw;
  }
}
