@import-normalize;

:root {
  --color-mint-green: #6cdaa6;
  --color-light-grey: #e6e6e6;
  --color-dark-grey: #4d4d4d;
  --color-white: #ffffff;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "selima-regular";
  src: url("../src/fonts/selima-webfont.woff2") format("woff2"),
    url("../src/fonts/selima-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "selima-regular";
  background-color: var(--color-light-grey);
  color: var(--color-dark-grey);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: var(--color-dark-grey);
}

.app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.stage {
  border: 1px solid red;
}
