@import-normalize;

:root {
  /* --color-mint-green: #6cdaa6; */
  --color-mint-green: #0dc289;
  --color-light-grey: #e6e6e6;
  --color-dark-grey: #4d4d4d;
  --color-white: #ffffff;
  --color-black: rgb(26, 26, 26);
  --color-theme: #fecb00;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
